*{
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
}
body{
    padding: 0;
    margin: 0;
    margin-bottom: 5%;
}

.bg-blue{
    background: #546de5;
}

.jumbotron{
    border-radius: 0rem !important ;
}

.jumbotron h2{
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

.jumbotron h1{
    text-align: center;
    font-weight: bold;
    font-size: 5em;
}

#img-jumb{
    background: #546de5;
    color: #000000;
}

svg {
    margin-top: -90px;
    background-size: cover;
    width: 100%;
    display: block;
    background: #546de5;    
}

.hidden{
    display: none;
}

.backDiv2{
    background: #546de5;
    width: 50px;
    padding: 2px;
    border-radius: 3px;
}

.frontDiv2{
    color: #000000;
    font-weight: bold;
    margin-left: 60%;
}

.backDiv{
    background: #546de5;
    width: 35%;
    height: 3px;
    padding: 2px;
    border-radius: 3px;
}

.frontDiv{
    color: #000000;
    font-weight: bold;
}

.justify{
    text-align: justify;
}

.aling{
    margin-left: 99%;
}

.titleSec{
    font-weight: bold;
}

.cardhover:hover{
    box-shadow: #757070 0px 3px 3px 0px;
    transition: 0.4s;
}

.center-img{
    display: block;
    margin-left: auto;
    margin-right: auto 
}

.btn-blue{
    background: #fff;
    border: #546de5 1px solid;
    color: #546de5;
    font-weight: bold;

}

.btn-blue:hover{
    background: #546de5;
    color: #fff;
}

.wSearch{
    width: 25%;
}

.div-color{
    width: 213px;
    height: 213px;
}