*{
    font-family: 'Montserrat', sans-serif;
}
body{
    padding: 0;
    margin: 0;
}

.bg-blue{
    background: #546de5;
}

.jumbotron h2{
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

.jumbotron h1{
    text-align: center;
    font-weight: bold;
    font-size: 5em;
}

#img-jumb{
    background: #546de5;
    color: #000000;
}

svg {
    margin-top: -90px;
    background-size: cover;
    width: 100%;
    display: block;
    background: #546de5;    
}